:root {
    --font: "Roboto", serif;
    --black: #1F1E1E;
    --white: #fff;
    --gray: #3C3C3C;
}

body, html {
    font-family: var(--font);
    font-size: 10px;
    font-weight: 400;
    color: var(--gray);
    background-color: var(--white);

    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/* main */

main {
    margin: 8px;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}


/* Для экранов с шириной до 768px (например, мобильные устройства) */
@media (max-width: 768px) {
    main {
        background-image: url(../images/main-mobile.jpg); /* Смена фона на мобильных устройствах */
        height: 60vh; /* Меньше высота на мобильных экранах */
    }
}

/* Для экранов с шириной до 480px (самые маленькие мобильные устройства) */
@media (max-width: 480px) {
    main {
        background-image: url(../images/main-mobile-small.jpg); /* Смена фона на еще меньших экранах */
        height: 50vh; /* Еще меньше высота для маленьких экранов */
    }
}


.main-inner {
    padding-top: 69px;
    padding-left: 42px;
    
}

.main-inner h1 {
    font-size: 63px;
    line-height: 65px;
    color: var(--white);
    font-weight: 400;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    margin-bottom: 36px;
}




















/* catalog */

.catalog {
    margin-top: 59px;
    padding-bottom: 1px;
}

.catalog-start {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 40px;
}

.catalog-start-item {
    display: flex;
    align-items: center;
}

.catalog-start-item span {
    margin-right: 17px;
    font-weight: 400;
    font-size: 18px;
    color: var(--gray);
}

.catalog-start-item h3,
.catalog-start-item p {
    font-weight: 400;
    font-size: 9px;
    color: var(--gray);
    text-transform: uppercase;
}

.catalog-title {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 125px;
    line-height: 100.25px;

    text-align: center;
}

.catalog-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-item {
    width: 20%;
    margin-bottom: 37px;
    text-align: center;
}

.catalog-item img {
    width: 167px;
    height: 167px;
    margin-bottom: 20px;
}

.catalog-item h3 {
    font-weight: 400;
    font-size: 9px;
    color: var(--gray);
    line-height: 9.17px;
    text-transform: uppercase;
}

.catalog-item span {
    font-weight: 400;
    font-size: 9px;
    color: var(--gray);
    line-height: 13.75px;
    text-transform: uppercase;
}

.catalog-button {
    font-family: var(--font);
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: var(--black);
    padding: 15px 26px;
    border-radius: 4.17px;
    color: var(--white);
    font-size: 9px;
    font-weight: 400;

    margin-right: auto;
    margin-left: auto;
    display: block;

    cursor: pointer;
}

























.achievements {
    background-color: #ffffff;
    padding: 25px 0;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

}
.achievements h2 {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}
.achievements .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.achievement-card {
    width: calc(33% - 20px);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}
.achievement-card:hover {
    transform: translateY(-10px);
}
.achievement-card img {
    width: 250px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 20px;
}
.achievement-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}
.achievement-card p {
    
    color: #666;
    font-size: 13px;
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    min-height: 540px; /* Устанавливает минимальную высоту для карточек */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    width: 100%; /* Изображение занимает всю ширину контейнера карточки */
    height: 400px; /* Устанавливает фиксированную высоту для изображения */
    object-fit: cover; /* Обрезает изображение, чтобы оно соответствовало заданной высоте и ширине без искажения */
    border-radius: 8px;
}

.card h2 {
    font-size: 1.9rem; /* Увеличивает размер шрифта заголовка */
    margin-bottom: 10px; /* Добавляет отступ снизу под заголовком */
    text-align: center;
}

.card p {
    font-size: 1.8rem; /* Увеличивает размер шрифта текста абзаца */
    line-height: 1.5; /* Устанавливает высоту строки для улучшения читаемости */
}

/* mission */

.mission {
    padding-bottom: 50.84px;
    margin-right: 50px;
    margin-left: 50px;
    border-bottom: 1px rgba(31, 30, 30, 0.1) solid;
    margin-bottom: 49.16px;
    text-align: center;
}

.mission h2 {
    padding-top: 50px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 21px;
    line-height: 13.75px;
    text-decoration: underline;

}

.mission p {
    font-weight: 400;
    font-size: 38px;
    line-height: 45.83px;

    width: 681px;
    margin-right: auto;
    margin-left: auto;
}


/* mebel */

.mebel-inner {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 35px;
}

.mebel-inner img {
    width: 546px;
    height: 546px;
}

.mebel-inner div {
    height: 546px;
    width: 546px;
    margin-left: 8px;
    background-color: #F4EDE6;

    border-radius: 8.33px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mebel-inner div h3 {
    
    font-weight: 400;
    font-size: 52px;
    line-height: 58.33px;

    width: 439px;
    text-align: center;

    margin-bottom: 157px;
    margin-top: 150px;
}

.mebel-inner div p {
    color: #425E44;
    font-size: 9px;
    font-weight: 400;
    line-height: 13.75px;
}

/* nothing */

.nothing-title {
    text-align: center;
    margin-bottom: 39px;
    font-size: 142px;
    font-weight: 400;
    color: var(--black);
}

.nothing-text {
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 29.17px;
    margin-bottom: 24px;
    color: var(--black);
}

.nothing button {
    padding: 15px 26px;
    font-weight: 400;
    line-height: 9.17px;
    font-size: 9px;
    font-family: var(--font);
    background-color: var(--black);
    color: var(--white);
    border-radius: 4.17px;
    border: none;
    outline: none;

    margin-right: auto;
    margin-left: auto;
    display: block;

    margin-bottom: 50px;

    transition: all .5s ease;
}

.nothing button:hover {
    opacity: 0.5;
    cursor: pointer;
}


.nothing-inner {
    margin-bottom: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nothing-inner div {
    width: 546px;
    height: 546px;
    margin-right: 8px;

    background-image: url(../images/no-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nothing-inner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nothing-inner div p {
    margin-bottom: 28px;
    font-size: 46px;
    line-height: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    width: 330px;
}

.nothing-inner img {
    width: 546px;
    height: 546px;
}



.contact-info {
    position: fixed; /* Фиксированное позиционирование */
    bottom: -100px; /* Скрыт за пределами экрана */
    left: 50%; /* Центровка по горизонтали */
    transform: translateX(-50%); /* Корректируем смещение */
    width: 1260px; /* Ширина узкого прямоугольника */
    background-image: url("assets/images/no-image.jpg"); /* Фон-картинка */
    background-size: cover; /* Растягиваем картинку по размеру блока */
    background-position: center; /* Центрируем фон */
    background-repeat: no-repeat; /* Отключаем повторение */
    color: black; /* Цвет текста */
    text-align: center;
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 21px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3); /* Тень */
    font-family: Arial, sans-serif;
    transition: bottom 0.5s ease-in-out; /* Плавное появление */
    opacity: 2; /* Начальная прозрачность */
    font-family: var(--font);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.contact-info.visible {
    bottom: 20px; /* Показываем в 20px от нижнего края */
    opacity: 1; /* Делаем видимым */
}

@keyframes slideIn {
    from {
        transform: translateY(100px); /* Снизу вверх */
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


  /* Убираем стандартный синий цвет ссылки */
  #contactInfo a {
    color: inherit; /* Использует цвет родительского элемента (в данном случае текст) */
    text-decoration: none; /* Убираем подчеркивание */
  }

  /* Стили для ссылки при наведении */
  #contactInfo a:hover {
    color: #007BFF; /* Цвет при наведении, можно выбрать любой */
    text-decoration: underline; /* Подчеркивание при наведении */
  }